ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 0;
}

li {
    display: flex;
    justify-content: flex-start; /* Garde tout aligné à gauche */
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 10px;
    font-size: 16px;
}

span {
    width: 270px; /* Définit une largeur fixe pour le texte pour aligner les inputs */
}

input[type="number"] {
    padding: 5px;
    width: 35px;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inline;
    opacity: 1;
}
