ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding-left: 0;
}

li {
    display: flex;
    justify-content: flex-start; /* Aligne tout à gauche */
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="number"] {
    padding: 5px;
    width: 50px;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inline;
    opacity: 1;
}
